[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
Type=simple
User=gaignerot
ExecStart=/usr/local/bin/cloudflared tunnel --config /home/gaignerot/.cloudflared/config.yml run
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
